:root {
  --white: #ffffff;
  --gray: #d9d9d9;
  --black: #000000;
  --pink: #FCD5D6;
  --primary-color: #510F26;
  --secondary-color: #651430;
  --dark-secondary-color: #a52753;
  --tertiary-color: #f04282;
  --light-tertiary-color: #FCD5D6;
  --text-color: #343d48;

  --font-family: 'DM Sans', sans-serif;
}
