.sectionContact{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

.btnContact{
    background-color: var(--dark-secondary-color);
    color: var(--white);
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.25s ease;
    width: 150px;
}

.btnContact:hover{
    transform: scale(1.1);
}